<% if signed_in? %>
  <div class="row">
    <aside class="span3">
      <section>
         <%= render 'shared/user_info' %>
      </section>
      <secton>
         <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span9">
      <%= render 'shared/video' %>

      <%= render 'shared/cat1_video' %>
        
    </div>
  </div>
<% else %>
    <div id="welcome-title">
      <h1>Welcome to Danceflix</h1>
    </div>
  
    <div id="welcome-subtitle"> 
    <h2>
      Your Personalized Dance Video Station
    </h2>
    </div>

    <div class="span12" style="text-align:center">
    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary", id: "signup-btn" %>
    </div>
 
<% end %>

