<% if signed_in? %>
  <div class="row">
    <aside class="span2">
      <section>
         <%= render 'shared/user_info' %>
      </section>
      <secton>
         <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span10">
      <br>
      <h3>Videos From Followed Dancers</h3>
      <%= render 'shared/video' %>
 
      <h3>Videos from Genre</h3>
     
      <div class="category-feeds"> 
      <% if @category1_feeds.any? %>
        <%= @category1_feeds.count %> 
       <ul class="list-inline" id="dancer-videos">
       <%= render partial: 'shared/video_item', collection: @category1_feeds %>
      </ul>
      <% end %>
      </div>

    </div>
  </div>
<% else %>

    <div id="welcome-title">
      <h1>Welcome to Danceflix</h1>
    </div>
  
    <div id="welcome-subtitle"> 
    <h2>
      Your Personalized Dance Video Station
    </h2>
    </div>

    <div class="span12" style="text-align:center">
    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary", id: "signup-btn" %>
    </div>
 

<% end %>

