<% if signed_in? %>
  <div class="row">
    <aside class="span3">
      <section>
         <%= render 'shared/user_info' %>
      </section>
      <secton>
         <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span9">
       <% if @dancer_video_feeds.any? %>
         <%= render 'shared/video' %>
       <% end %>
       <% if current_user.followingCatId?(1) && @category1_feeds.any? %>
         <%= render 'shared/cat1_video' %>
       <% end %>
       <% if current_user.followingCatId?(2) && @category2_feeds.any? %>
         <%= render 'shared/cat2_video' %>
       <% end %>
       <% if current_user.followingCatId?(3) && @category3_feeds.any? %>
         <%= render 'shared/cat3_video' %>
       <% end %>        
       <% if current_user.followingCatId?(4) && @category4_feeds.any? %>
         <%= render 'shared/cat4_video' %>
       <% end %>

    </div>
  </div>
<% else %>
    <div id="welcome-title">
      <h1>Welcome to Danceflix</h1>
    </div>
  
    <div id="welcome-subtitle"> 
    <h2>
      Your Personalized Dance Video Station
    </h2>
    </div>

    <div class="span12" style="text-align:center">
    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary", id: "signup-btn" %>
    </div>
 
<% end %>

