<li>
  <span class="content"><%= dancer.name %>
  <% if signed_in? %>
    <% if @user.followingDancer?(dancer) %>
      <%= form_for(@user.user_dancer_relationships.find_by_dancer_id(dancer), html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow", class: "btn btn-small" %>
      <% end %>
    <% else %>
      <%= form_for(@user.user_dancer_relationships.build(dancer_id: dancer.id)) do |f| %>
        <div><%= f.hidden_field :dancer_id %></div>
        <%= f.submit "Follow", class: "btn btn-small btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
  </span>
</li>
