<% provide(:title, 'All Dance Categories') %>
<div id="genre-title">
<h1>Follow Genres/Dancers You Love</h1>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs" id="categories-tabs">
    <% tabIndex = 1 %>
    <% @categories.each do |category| %>
      <% if category.id == 1 %>
         <li class="<%= 'active' if params[:tab] == 'tab' + tabIndex.to_s %>"><a href="#tab<%= tabIndex %>" data-toggle="tab"><%= category.cName %></a></li>
         <% tabIndex += 1 %>
      <% else %>
         <li class="<%= 'active' if params[:tab] == 'tab' + tabIndex.to_s %>"><a href="#tab<%= tabIndex %>" data-toggle="tab"><%= category.cName %></a></li>
         <% tabIndex += 1 %>
      <% end %>
    <% end %>
    <% tabIndex = 1 %>
  </ul>
 
  <div class="tab-content">
     <% if signed_in? %>
       <!-- Loop each category -->
       <% @categories.each do |category| %>
         <!-- Tab-pane div head-->
         <% if category.id == 1 %>
           <div class="<%= if(params[:tab] == 'tab1' || !params[:tab]) then 'tab-pane active' else 'tab-pane' end%>" id="tab<%= tabIndex %>">
              <% tabIndex += 1 %>
         <% else %>
           <div class="<%= if params[:tab] == ('tab' + tabIndex.to_s) then 'tab-pane active' else 'tab-pane' end%>" id="tab<%= tabIndex %>">
              <% tabIndex += 1 %>
         <% end %>
            <!-- Give value to @category for form use -->
             <% @category = category %>
             <%= render "follow_cat_form" %>
             <!-- -->
             <% if category.dancers.any? %>
               <% @dancers = category.dancers.paginate(page: params[:"#{category.cName}" ]) %>
               <h3>Dancers (<%= category.dancers.count %>)</h3>
               <ul class="dancesr">
                 <%= render @dancers %>
               </ul>
               <%= will_paginate @dancers,:param_name => :"#{category.cName}" %>
             <% end %>

           </div>
       <% end %>
     <% end %>
  </div>

</div>


